[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/tianocore/edk2-platforms.git
[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = https://github.com/tianocore/edk2-non-osi.git
[submodule "ipxe"]
	path = ipxe
	url = https://github.com/ipxe/ipxe.git
[submodule "examples/rpi4/fcos/fedora-coreos-config"]
	path = examples/rpi4/fcos/fedora-coreos-config
	url = https://github.com/raballew/fedora-coreos-config.git
[submodule "examples/rpi4/fcos/coreos-assembler"]
	path = examples/rpi4/fcos/coreos-assembler
	url = https://github.com/raballew/coreos-assembler.git
